# Xcode user interface state
BookNest.xcodeproj/project.xcworkspace/xcuserdata/

# .DS_Store files
.DS_Store

# Ignore Xcode user interface state files
BookNest.xcodeproj/project.xcworkspace/xcuserdata/tarielkhalvashi.xcuserdatad/UserInterfaceState.xcuserstate

# Ignore macOS generated .DS_Store files
.DS_Store